<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>YouTube Downloader</h1>
        {% comment %} <img src="{{ url_for('serve_file', filename=thumbnail) }}" alt="Thumbnail"> {% endcomment %}
        <form action="/download" method="POST">
            <input type="text" name="url" placeholder="Enter YouTube URL">
            <button type="submit">Download</button>
        </form>
    </div>
</body>
</html>
